@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }

  50% {
    opacity: 1;
    transform: translateX(2rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  50% {
    opacity: 1;
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.animate {
  animation: moveInBottom 1s;
  animation-fill-mode: backwards;
}

.delayShortest {
  animation-delay: 300ms;
}

.delayShort {
  animation-delay: 500ms;
}
.delayLong {
  animation-delay: 800ms;
}
