*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden !important;
  font-size: 62.5%; //1rem = 10px
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }
}

body {
  overflow-x: hidden !important;
  box-sizing: border-box;
}
